body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  width: 100%;
}

.App {
  width: 100%;
  display: grid;
  grid-template-rows: max-content auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.gutter {
  background-color: grey;
  cursor: grab;
  /* width: 100vw; */
}


.editor-container {
  /* display: grid; */
  /* width: 100%; */
  /* overflow: hidden; */
  padding: 4px;
  margin: 4px;
  background-color: #c6c6c6;
  border: solid rgba(0, 0, 0, 0.907) 1px;
}

.editor-control-panel {
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  /* overflow: hidden; */
}

.editor-type-container {
  flex-wrap: nowrap;
  white-space: nowrap;
  align-items: center;
  display: flex;
}

.editor-type-container label {
  margin-right: 4px;
}


.editor-label,.type-label {
  text-align: left;
  float: left;
  margin-bottom: 0;
}
